.delete-project-btn{
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-image: url("/images/trash_can_icon.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.delete-project-btn:hover{
  background-color: #EDEDED;
}

.delete-project-btn:active{
  background-size: 65%;
}
