button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background-color: #4587BA;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

button:hover {
  background-color: #3A6D97;
  border-color: #3A6D97;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logout-container{
  display: flex;
  gap: 20px
}
