.add-task-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

  max-width: 95vw;
  width: 95vw;

  max-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.add-task-container h2 {
  font-size: 24px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 2px solid #ebecf0;
  padding-bottom: 10px;
  text-align: left;
  flex-shrink: 0;
}

.form-group input,
.form-group textarea {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ebecf0;
  border-radius: 6px;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.form-group input {
  word-break: break-all;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #5e6c84;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 60vh;
  overflow-y: auto;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  background-color: white;
}

button[type="submit"] {
  width: auto;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #00875a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.1s;
}

button[type="submit"]:hover {
  background-color: #006b49;
}

.cancel-btn {
  background-color: #ebecf0;
  color: #42526e;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.1s;
}

.cancel-btn:hover {
  background-color: #c9d2d8;
}


.error {
  color: #d9534f;
  font-size: 13px;
  margin-top: 5px;
  padding: 5px 0;
}


