.kanban-board {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  padding: 5px 0;
  overflow-x: auto;
}

.kanban-column {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 250px;

  background-color: #f4f5f7;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  display: flex;
  flex-direction: column;
}

.kanban-column h3 {
  margin-top: 0;
  color: #172b4d;
  font-size: 16px;
  font-weight: 600;
  padding: 0 5px 10px;
}

.task-list-container {
  min-height: 50px;
  flex-grow: 1;
  padding: 5px;
  background-color: #f4f5f7;
}

.task-drag-item {
  margin-bottom: 8px;
  cursor: grab;
}

.cdk-drag-placeholder {
  opacity: 0.5;
  background-color: #ebecf0;
  border: 1px dashed #42526e;
  min-height: 50px;
  border-radius: 3px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .task-drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-list {
  text-align: center;
  color: #6b778c;
  font-style: italic;
  padding: 15px 0;
}
